	.header{ border-bottom:2px solid #fd8d4e; height:70px;}
	.head{ width:1240px; height:70px; margin:0 auto;}
	.head h1{ float:left;}
	.head h1 a{ float:left; margin:14px 24px 0 0;}
	.head_sousuo{ margin-top:20px; float:left; position:relative;}
	.head_xiala{ width:498px; height:275px; border:1px solid #fd8d4e;  padding-top:5px; background:#fff;
	             position:absolute; top:38px; left:0; z-index:100; }
	.head_xiala li{ width:100%; height:27px;}
	.head_xiala span{ width:15px; height:15px; background:#fe6c0f; color:#fff; 
		              text-align:center; line-height:15px; float:left; margin:6px 8px 0 15px; border-radius:2px;}
	.head_xiala .head_numb{ background:#b9b9b9;}
	.head_xiala p{ line-height:27px; color:#666; float:left;}
	.head_xiala .head_xialali{ background:rgba(240,240,240,.7);}
	.head_text{ width:500px; height:38px; background:#eee; border-radius:5px; line-height:38px; padding-left:14px; color:#666; outline:none; border:none; box-sizing:border-box;}
	.head_fdj{ position:absolute; right:0; top:0;}
	.head_rul{ float:right; margin-top:23px;}
	.head_rul li{ float:left; margin-left:20px; width:90px; height:44px;}
	.head_rul a{ padding-left:32px;font-size:14px; color:#666; height:30px; line-height:30px; display:block;}
	.head_mymov a{ background:url(../img/t018cbe1aa199ec4d23.png) no-repeat 0 0; }
	.head_jilu a{background:url(../img/t018cbe1aa199ec4d23.png) no-repeat 0 -200px;}
	.head_xiazai a{ background:url(../img/t018cbe1aa199ec4d23.png) no-repeat 0 -400px;}
	.head_mymov a:hover{ background:url(../img/t018cbe1aa199ec4d23.png) no-repeat 0 -100px;}
	.head_jilu a:hover{ background:url(../img/t018cbe1aa199ec4d23.png) no-repeat 0 -300px;}
	.head_xiazai a:hover{ background:url(../img/t018cbe1aa199ec4d23.png) no-repeat 0 -500px;}
	.head_nav{ width:1240px; height:43px; margin:0 auto;}
	.head_nav_left{ float:left;}
	.head_nav_left_i{ float:left; margin-right:28px; position:relative;}
	.head_nav_left_i a{ line-height:43px; color:#666; font-size:16px; font-family:'微软雅黑';}
	.tv_box a,.move_box a{line-height:36px; height:36px; width:100%; display:block;}
	.move_box li:hover,.tv_box li:hover{ background:#eee;}
	.head_nav_left .head_nav_home{ color:#fd8d4e;}
	.head_nav_left .head_nav_yugao{ background:url(../img/t013b6c5f636b718d92.png) no-repeat left 19px; margin-left:-20px; padding-left:12px;}
	.head_nav a:hover{ color:#fd8d4e;}
	.tv_box{ width:100px; position:absolute; top:43px; left:-26px; border-top:2px solid #fd8d4e; z-index:3; background:#fff; padding-top:5px; display:none;}
	.move_box{ width:100px; position:absolute; top:43px; left:-3px; border-top:2px solid #fd8d4e; z-index:3; background:#fff; padding-top:5px; display:none;}
	.tv_box li{ padding-left:14px;}
	.move_box{ width:84px; text-align:center;}
	.jiao{ width:8px; height:3px; position:absolute; left:50%; top:-5px; margin-left:-4px; background:url(../img/t010d9446e6607ce3a3.png) no-repeat;}
	.head_nav_r{ float:right;}
	.head_nav_r li{ float:left; margin-left:18px;}
	.head_nav_r a{ font-size:14px; line-height:43px; color:#666; font-family:'微软雅黑';}
	.bannerbox{ width:100%; height:485px; position:relative;}
	.bannerb_topbj{ position:absolute; left:0; top:0; background:url(../img/t0133f4f8766bc154ad.png) repeat-x; height:10px; width:100%; z-index:2;}
	.bann_bbg{ width:100%; height:127px; position:absolute; left:0; bottom:0; z-index:3}
	.bann_bbg_nr{ width:100%; height:127px; background:url(../img/t01efe71e963c167f56.png) repeat-x; margin:0 auto;}
	.img{ width:100%; height:100%;}
	.img a{ background-repeat:no-repeat;width:100%; height:100%; display:none;}
	.img_1{ background-image:url(../img/img1.jpg);} 	
	.img_2{ background-image:url(../img/img2.jpg);} 
	 
	 
	.img_nr{ width:1240px; height:485px; position:absolute; left:50%; top:0; margin-left:-620px;}
	.img_s{ width:1240px; position:absolute; left:0;bottom:0; z-index:10;}
	.img_s ul{ margin-right:-20px; position:absolute; left:0; bottom:10px; z-index:3;}
	.img_s li{ float:left; margin-right:20px; width:114px; height:62px; position:relative;}
	.small_bor{ width:114px; height:62px; position:absolute; left:-3px; top:-3px; border:3px solid #fd8d4e; display:none;}
	.img_s img{ width:100%; height:100%;}
	.small_li .small_bor{ display:block;}
	.img_text{ position:absolute; bottom:85px; left:0; color:#fff;}
	.img_name{ height:64px; font-size:36px; font-weight:bold;}
	.img_jieshao{ font-size:18px; line-height:26px;}
	.img_text li{ display:none;}
	.content{ background:#f4f4f4; margin-top:-40px;}
	.con{ width:1240px; margin:0 auto;}
	.con1_left{ float:left; width:974px; overflow:hidden;}
	.con1_right{ float:right; width:240px; overflow:hidden;}
	.con1_lh3,.con1_rh3{ margin-top:40px;}
	.con1_lh3 span,.con1_rh3{ font-size:30px; margin-right: 8px;}
	.con1_lh3_gd{ color:#fd8d4e;}
	.con1_lbox{ width:974px; height:308px; margin-top:20px; position:relative; overflow:hidden;}
	.con1_btnleft{ width:45px; height:80px; background:url(../img/t01e4a9d3102ad919c9.png) no-repeat 0 -160px; position:absolute; top:50%; margin-top:-40px; z-index:100; left:0;}
	.con1_btnleft:hover { background:url(../img/t01e4a9d3102ad919c9.png) no-repeat 0 -240px;}
	.con1_btnright{ width:45px; height:80px; background:url(../img/t01e4a9d3102ad919c9.png) no-repeat 0 0; position:absolute; top:50%; margin-top:-40px; z-index:100; right:0;}
	.con1_btnright:hover { background:url(../img/t01e4a9d3102ad919c9.png) no-repeat 0 -80px;}
	.con1_lbnr{ position:absolute; left:0; top:0; width:1948px;}
	.con1_lbnr ul{ width:974px; float:left;}
	.con1_lbnr li{ float:left; margin-right:18px; position:relative;}
	.con1_hoverli1{ width:380px; height:308px; position:absolute; top:0; left:0; display:none;}
	.con1_lli1:hover .con1_hoverli1{ display:block;}
	.con1_lli1_img{ width:380px; height:246px; position:relative;}
	.con1_lli1_img p{ width:280px; height:36px; position:absolute; left:0; bottom:0; background:rgba(0,0,0,.6); line-height:36px; color:#fff; padding-left:100px;}
	.con1_lli1_img span{ color:#ff5d31; font-size:16px; line-height:36px; font-weight:bold;} 
	.con1_hoverli1_t{ width:380px; height:246px;}
	.con1_hoverli1_tbg{ width:100%; height:246px; background:#000; position:absolute; left:0; top:0; opacity:.6; filter:alpha(opacity:60);}
	.con1_hoverli1_nr{ width:100%; height:246px; position:absolute; top:0; left:0; z-index:2;}
	.con1_hoverli1_nr h4{ font-size:14px; margin:33px 0 17px 114px; color:#fff; font-family:'微软雅黑'}
	.con1_hoverli1_star{ margin-left:114px; height:50px; color:#87c556;}
	.con1_hoverli1_bgstar{ width:100px; height:16px; background:url(../img/t01d3bcbccd2375d53e.png) repeat-x 0 0; display:inline-block;}
	.con1_hoverli1_bgstar b{ width:48%; height:16px; background:url(../img/t01d3bcbccd2375d53e.png) repeat-x 0 -34px; display:inline-block;}
	.con1_hoverli1_star i{ font-size:18px; font-weight:bold;}
	.con1_hoverli1_tjs{ width:235px; margin-left:114px;overflow:hidden;}
	.con1_hoverli1_tjs p{ line-height:26px; color:#ccc; height:26px; font-family:'Arial';}
	.con1_hoverli1_b{ width:380px; height:62px; position:relative;}
	.con1_hoverli1_bbg{ width:100%; height:100%; position:absolute; top:0; left:0; opacity:.9; filter:alpha(opacity:90);background:url(../img/t012323718357d6d14e.png) no-repeat 112px center #87c556;}
	.con1_hoverli1_bnr{ position:absolute; top:0; left:0; line-height:62px; font-weight:bold; font-size:20px; color:#fff; height:62px; margin-left:152px;}
	.con1_lbnr .con1_llastli{ margin:0;}
	.con1_lli1_bnr{ width:370px; height:52px; background:#fff; padding:10px 0 0 10px;}
	.con1_lli1_bnr p,.s_move_bnr p{ line-height:24px;}
	.con1_lli1_bnr .con1_lip2,{ color:#999;}

	.s_move_bnr .smoban_p2{ color:#999; height:24px;overflow:hidden;}
	.s_move { width:180px; height:308px; position:relative;}
	.s_move_img{ width:180px; height:246px; position:relative; overflow:hidden;}
	.s_move_img img{ width:100%; height:100%;}
	.s_move_tbg{ width:100%; height:24px; position:absolute; left:0; bottom:0; background:#000; opacity:0.5; filter:alpha(opacity:50);}
	.s_move_bot{height:24px; position:absolute; left:52px; bottom:0; line-height:24px; color:#fff;}
	.s_move_bot span{ color:#ff5d31; font-size:16px; line-height:24px; font-weight:bold;} 
	.s_move_bnr{ width:170px; height:52px; background:#fff; padding:10px 0 0 10px;}
	.s_move_hover{ width:180px; height:308px; position:absolute; top:0; left:0; display:none;}
	.s_move_hover_t{ width:180px; height:246px;}
	.s_move_hover_tbg{ width:100%; height:246px; background:#000; position:absolute; left:0; top:0; opacity:0.5; filter:alpha(opacity:50);}
	.s_move_hover_nr{ width:100%; height:246px; position:absolute; top:0; left:0; z-index:2;}
	.s_move_hover_nr h4{ font-size:14px; position:absolute; top:33px; left:20px; color:#fff;}
	.s_move_hover_star{ position:absolute; top:63px; left:20px; height:45px; color:#87c556;}
	.s_move_hover_bgstar{ width:100px; height:16px; background:url(../img/t01d3bcbccd2375d53e.png) repeat-x 0 0; display:inline-block;}
	.s_move_hover_star b{ width:70%; height:16px; background:url(../img/t01d3bcbccd2375d53e.png) repeat-x 0 -34px; display:inline-block;}
	.s_move_hover_star i{ font-size:24px; font-weight:bold;}
	.s_move_hover_tjs{ position:absolute; left:20px; top:108px; width:130px; overflow:hidden;}
	.s_move_hover_tjs p{ line-height:26px; color:#ccc; height:26px; font-family:'Arial';}
	.s_move_hover_b{ width:180px; height:62px; position:relative;}
	.s_move_hover_bbg{ width:180px; height:62px; position:absolute; top:0; left:0;  opacity:.9; filter:alpha(opacity:90); background:url(../img/t012323718357d6d14e.png) no-repeat 15px 16px #87c556;}
	.s_move_hover_bnr{ width:100%; height:100%; position:absolute; top:0; left:0;}
	.s_move_hover_bnr p{ height:30px; line-height:30px; font-size:20px; padding-left:35px; color:#fff; margin:16px 0 0 14px; font-weight:bold;}
	.s_move_hover_bnr .s_move_hover_bp{ margin:16px 0 0 20px;}
	
	.s_move:hover .s_move_hover{ display:block;}
	
	.con1_rbox{ margin-top:20px; width:240px; height:308px; overflow:hidden;}
	.con1_rbox div{ display:none;}

	.con1_rli .con1_rimg{ display:block;}
	.con1_rli .con1_rli_nr{ display:none;}
	
	.con1_rli_number{ width:45px; float:right; margin-right:12px; color:#999; line-height:34px;}
	.con1_rimg{ width:240px; height:138px; margin-bottom:10px;}
	.con3_rimg{ height:120px;}
	.con1_rimg a{ width:100%; height:100%; display:block; position:relative;}
	.con1_rimg .con1_rimga{height:129px;}
	.con1_rimg img{ width:100%; height:100%;}
	.con1_rimg_bg{ position:absolute; left:0; bottom:0; width:100%; height:24px; background:#000; opacity:.5; filter:alpha(opacity:50);}
	.con1_rimg_name{ height:24px; line-height:24px; position:absolute; left:14px; bottom:0; color:#fff;}
	.con1_rimg_dj{ height:24px; text-align:left; line-height:24px; position:absolute; right:10px; bottom:0; color:#fff; width:50px;}
	.con1_rimg_btn{ width:12px; height:10px; background:url(../img/t01f3aaf7cf737877f0.png) no-repeat; position:absolute; bottom:7px; right:74px; z-index:2}
	.con1_rli_nr{ width:240px; height:34px; cursor:pointer; position:relative;}
	.con1_rli_bgcol{ background:#eee;}
	 
	.con1_rli_nr b{ float:left; margin-left:11px; line-height:34px; color:#999;}
	.con1_rli_nr .con1_rli_num{ color:#fd8d4e;}
	.con1_rli_nr .con1_rli_name{ margin-left:11px; line-height:34px;}
	.con1_rli_nr span{ float:left; margin-left:15px; line-height:34px;}
	.con1_rli_dj{ float:right; width:50px; line-height:34px; margin-right:12px; color:#999;}
	.con1_rli_nr i{ width:12px; height:10px; position:absolute; right:64px; top:12px; background:url(../img/t01f3aaf7cf737877f0.png) no-repeat; margin-right:10px;}
	
	.con_box{ margin-top:40px;}
	.con_lh3{ width:100%; height:32px; margin-bottom:20px;}
	.con_lh3 span{ font-size:32px; float:left; margin-right:16px;}
	.con_h3ul li{ float:left; border-right:1px solid #ccc; padding:0 13px 0 16px; margin-top:13px; height:20px; line-height:20px;}
	.con_h3li a{ color:#fd8d4e;} 
	.con_h3_gd{ float:left; padding-left:16px; margin-top:17px;}
	.con_h3_gd:hover{ color:#fd8d4e;}
	.con2_lbox{ width:974px;}
	.con2_lnr{ margin-right:-18px;margin-bottom:-20px;}
	.con3_lbox .con6_lnr{ margin-right:-20px;}
	.con2_lnr ul{ display:none;}
	
	.con .con2_lul{ display:block;}
	.con2_lnr li{ float:left; margin-right:18px; margin-bottom:20px;}
	.con3_lbox .con6_lnr li{ margin-right:20px; }
	
	.con2_img_left_t{ width:380px; position:relative;}
	.con2_img_left_zyimg{ width:100%; height:254px; overflow:hidden; display:block;}
	.con2_img_left_t img{ width:100%; height:100%;}
	.con2_img_left_tbg{ width:100%; height:22px; background:#000; position:absolute; left:0; bottom:0; opacity:.5; filter:alpha(opacity:50);}
	.con2_img_left_tp{ width:370px; padding-left:10px; color:#fff; position:absolute; left:0; bottom:0; height:22px; line-height:22px;}
	.con2_img_left_hover{ width:100%; height:100%; background:#000; position:absolute; left:0; top:0; opacity:.5; filter:alpha(opacity:50); display:none;}
	.con2_img_left_btnhover{ width:60px; height:60px; background:url(../img/t01925d53c7bd381a67.png) no-repeat; position:absolute; top:50%; left:50%; margin-left:-30px; margin-top:-30px; z-index:3; display:none;}
	.con2_img_left_t:hover .con2_img_left_hover,.con2_img_left_t:hover .con2_img_left_btnhover{ display:block;}
	.con2_img_left_b{ width:370px; height:34px; background:#fff; padding-left:10px; line-height:34px;}
	
	.con2_img_right_t{ width:180px;position:relative; height:100px;}
	.con2_img_right_t img{ width:100%; height:100%;}
	.con2_img_right_tbg{ width:100%; height:22px; background:#000; position:absolute; left:0; bottom:0; opacity:.5; filter:alpha(opacity:50);}
	.con2_img_right_timg{ width:180px; height:100px; display:block;}
	.con2_img_right_timg img{ width:100%; height:100%;}
	.con2_img_right_tp{ width:170px; padding-left:10px; color:#fff; position:absolute; left:0; bottom:0; height:22px; line-height:22px;}
	.con2_img_right_hover{ width:180px; height:100px; background:#000; position:absolute; left:0; top:0; opacity:.5; filter:alpha(opacity:50); display:none;}
	.con2_img_right_btnhover{ width:60px; height:60px; background:url(../img/t01925d53c7bd381a67.png) no-repeat; position:absolute; top:50%; left:50%; margin-left:-30px; margin-top:-30px; z-index:3; display:none;}
	.con2_img_right_t:hover .con2_img_right_hover,.con2_img_right_t:hover .con2_img_right_btnhover{ display:block;}
	.con2_img_right_b{ width:180px; height:34px; background:#fff; text-align:center; line-height:34px;}
	
	.con_right{ float:right; width:240px; }
	.con_rh3{ font-size:24px; height:52px; line-height:38px;}
	.con2_rbox{ background:#fff;}
	.con2_rli1 a{ width:240px; height:120px; display:block; position:relative;}
	.con2_rli1{ margin-bottom:12px;}
	.con2_rtbg{ width:100%; height:24px; background:#000; opacity:.5; filer:alpha(opacity:50); position:absolute; left:0; bottom:0;}
	.con2_rtp{ position:absolute; left:10px; bottom:3px; color:#fff;}
	.con2_rlia{ padding-left:10px; line-height:30px; height:30px; overflow:hidden;}
	.con3_lbox{ width:980px;}
	.con3_lnr{ margin-right:-20px; margin-bottom:-20px;}
	.con3_lnr li{ float:left; margin-right:20px; margin-bottom:20px;}
	.con3_lnr ul{ display:none;}
	.s_move_tl{ position:absolute; left:10px; bottom:0; height:24px; line-height:24px; color:#fff;}
	.s_move_tr{ position:absolute; right:10px; bottom:0; height:24px;}
	.s_move_score{ line-height:24px; color:#87c556; font-size:18px;}
	.s_move_txt{ color:#ccc; line-height:24px;}
	.con3_rtbox{ width:240px; height:436px; overflow:hidden;}
	.con3_rtbox div,.con8_nr ul{ display:none;}
	.con1_rimg_num{ width:40px; height:40px; line-height:40px; color:#fff; font-size:20px; position:absolute; left:0; bottom:-4px; padding-left:8px; background:url(../img/t01044c56b0c2709fc9.png) no-repeat;}
	.con1_rimg_name2{height:24px; line-height:24px; position:absolute; left:45px; bottom:0; color:#fff;}
	.con3_rbbox{ margin-top:16px;}
	.con3_rbh4{ font-size:24px; color:#333; height:50px; line-height:38px;}
	.con3_rbcon{ width:240px; height:134px; background:#fff;}
	.con3_rbtv{ padding:10px 0 0 20px;}
	.con3_rbtv p{ line-height:28px;}
	.con1_rimg_pf{ position:absolute; right:8px; bottom:0; height:24px; line-height:24px; color:#fff;}
	.con1_rimg_pf span{ color:#80c554;}
	.con1_rli_pf{ width:45px; float:right; line-height:34px; color:#999;}
	.con1_rli_pf em{ color:#80c554;}
	.con3_rbtv a:hover{ color:#fd8d4e;}
	.con2_img_right_yugao{ position:absolute; left:0; top:0; background:url(../img/t019ef309043fe7ad3f.png) no-repeat; width:82px; height:20px;}
	.con5_lul li{ float:left; margin-right:20px; width:180px; height:134px;}
	.con5_lul{ margin-right:-20px;}
	.con5_box{ width:240px;}
	.con5_tnr{ width:238px; height:98px; display:block; position:relative; border:1px solid #fff; overflow:hidden;}
	.con5_tnrbg{ width:100%; height:22px; background:#000; opacity:.5; filter:alpha(opacity:50); position:absolute; bottom:0; left:0;}
	.con5_trp{ width:100%; height:22px; text-align:center; line-height:22px; position:absolute; left:0; bottom:0; color:#fff;}
	.con5_bnr{ width:240px; height:34px; background:#fff; text-align:center;}
	.con5_btxt{font-weight:bold; line-height:34px;}
	.con_game{ width:1240px; margin-top:40px;}
	.con_gamel{ float:left;}
	.con_gamer{ float:right;}
	.con2_img_left_bf{ width:12px; height:10px; background:url(../img/t01f3aaf7cf737877f0.png) no-repeat; position:absolute; left:10px; bottom:6px;}
	.con2_img_left_dj{ color:#fff; line-height:22px; position:absolute; left:27px; bottom:0;}
	.con2_img_left_b2{ width:370px; height:57px; background:#fff; padding:20px 0 0 10px;}
	.con2_img_left_bp{ color:#888; margin-top:12px;}
	.con2_img_right_b2{ width:170px; height:41px; background:#fff; padding:14px 0 0 10px;}
	.con2_img_right_bp{ color:#888; margin-top:4px;}
	.con6_rtbox{ width:240px; height:334px; overflow:hidden;}
	.con7_rbox{ width:100%; height:332px;}
	.con7_rol li{ width:32px; height:32px; line-height:32px; margin-right:1px; background:#eee; cursor:pointer; text-align:center; float:left;}
	.con7_rol .con7_active{ background:#fd8d4e; color:#fff;}
	.con7_rb{ width:100%; height:300px; background:url(../img/t01f8fca60897f38a98.png) 20px 0 repeat-y; overflow:hidden;}
	.con7_rbcon{ width:100%; height:280px; margin-top:20px; overflow:scroll; position:relative;}
	.con7_rday1{ width:46px; height:18px; color:#fff; padding-left:6px; line-height:18px; float:left; display:block; background:url(../img/t0179849b6dcb24f08c.png) no-repeat 0 0;}
	.con7_rday2{ width:46px; height:18px; color:#fff; padding-left:6px; line-height:18px; float:left; display:block; background:url(../img/t0179849b6dcb24f08c.png) no-repeat 0 -20px;}
	.con7_rbcon li{ margin-bottom:20px;}
	.con7_rb_uplist{ float:left;}
	.con7_rb_con{ height:52px;}
	.con7_rb_name{ font-size:16px; font-family:'微软雅黑';}
	.con7_rb_desc{ line-height:24px; color:#999;}
	.con7_rbcon ul,.con8_nr .con8_hover{ display:none;}
	.con7_rbcon .con7_rbul,.con8_nr li:hover .con8_hover{ display:block;}
	.con8_nr{ width:1240px; height:410px; position:relative;}
	.con8_nr img{ width:100%; height:100%;}
	.con8_li1{ width:205px; height:410px; position:absolute; top:0; left:0;}
	.con8_li2{ width:205px; height:205px; position:absolute; top:0; left:207px;}
	.con8_li3{ width:412px; height:205px; position:absolute; top:0; left:414px;}
	.con8_li4{ width:412px; height:205px; position:absolute; left:207px; bottom:-2px;}
	.con8_li5{ width:205px; height:205px; position:absolute; left:621px; bottom:-2px;}
	.con8_li6{ width:412px; height:412px; position:absolute; right:0; top:0;}
	.con8_yy{ position:absolute; left:30px; top:37px; width:100%; height:100%;}
	.con8_li6 .con8_yy{ position:absolute; left:30px; top:250px;}
	.con8_shadow{ width:100%; height:100%; background:#000; opacity:.5; filter:alpha(opacity:50); position:absolute; left:0; top:0;}
	.con8_liname{ font-size:25px; color:#fff; font-weight:bold; padding-right:33px; line-height:30px; margin-bottom:15px;}
	.con8_zuopin li{ line-height:32px; color:#fff; width:120px; float:left;}
	.con_foot a:hover{ color:#F60;}
	.con_foot{ padding:60px 0 70px 0; text-align:center;}
	.con_footb{ margin-top:12px;}