<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
   <link href="css/base.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/css.css">
<style>

</style>
    <script src="js/angular.js"></script>
    <script src="js/data.js"></script>

</head>

<body>
<div class="head">
<div class="header">
<div class="header-sp" ng-controller="mod">
<ul class="clearfix head-ul">

<li class="list2"><a href="#">购物车</a></li>
    <li ng-repeat="name in a1"><a href="#">{{name}}</a></li>
<!--<li><a href="#">帮助中心</a></li>
<li><a href="#">积分兑换</a></li>
<li><a href="#">注册</a></li>
<li><a href="#">登录</a></li>-->
</ul>
</div>
</div>
</div>
<div class="nav" ng-controller="mod">
<ul class="subnav clearfix">
    <li ng-repeat="n in a2"><a href="#">{{n}}</a></li>
<!--<li><a href="#">社区</a></li>
<li><a href="#">ColorOS</a></li>
<li><a href="#">软件产商</a></li>
<li><a href="#">体验店</a></li>

<li><a href="#">服务</a></li>
<li><a href="#">配件</a></li>
<li><a href="#">手机</a></li>
<li><a href="#">首页</a></li>-->

</ul>

</div>
<div class="con" ng-controller="ctr">
<div class="{{n.tit}}" ng-repeat="n in b1">
    <img  class="{{n.title}}" ng-src='{{n.img}}' alt="" ng-repeat="n in b1"/>
</div>
    <!--<div class="img1"><img  class="img-t" src="img/1-6.jpg" alt="" /></div>
<div class="img2"><img  class="img-b" src="img/1-7.png" alt="" /></div>-->
    <div class="{{m.tit}}" ng-repeat="m in b2"><img  class="{{m.title}}" ng-src='{{m.img}}' alt="" /></div>
<p class="opa"></p>
</div>

</div>
<div class="con-1">
<p class="p1">OPPOC <span>STAR</span> 明星机型</p>
<p class="p2">OPPOC COLLECTION 2014 <span>&nbsp;&nbsp;全部手机</span></p>

</div>
<div class="content clearfix" ng-controller="price">
<ul class="content-ul clearfix">
    <li ng-repeat="n in c1"><a href="#"><img ng-src='{{n.img}}' alt=""/></a><p class="con-p">{{n.t1}}</p><p class="con-d">{{n.t2}}</p>
        <a class="content-a" href="#">￥&nbsp;{{n.t3}}</a></li>
    <li ng-repeat="m in c2" class="{{m.t4}}"><a href="#"><img ng-src='{{m.img}}' alt=""/></a><p class="con-p">{{m.t1}}</p><p class="con-d">{{m.t2}}</p>
        <a class="content-a" href="#">￥&nbsp;{{m.t3}}</a></li>
<!--<li><a href="#"><img src="img/1-8.png" alt=""/></a><p class="con-p">N3</p><p class="con-d">1600万电动旋转摄像头</p>
<a class="content-a" href="#">&yen;3999 立即购买&nbsp;&nbsp;</a></li>
<li><a href="#"><img src="img/1-9.png" alt=""/></a><p class="con-p">R5</p><p class="con-d">薄至4.85mm</p><a class="content-a" href="#">&yen; 2999 立即购买&nbsp;&nbsp;</a></li>
<li><a href="#"><img src="img/1-10.png" alt=""/></a><p class="con-p">Find7</p><p class="con-d">4G全能旗舰</p><a class="content-a" href="#"> &yen;2999 立即购买&nbsp;&nbsp;</a></li>

<li class="list-last"><a href="#"><img src="img/1-11.png" alt=""/></a><p class="con-p">R1C</p><p class="con-d">钻石铂光界面</p><a class="content-a" href="#">&yen;2999 立即购买</a></li>
-->
</ul>
</div>
<div class="con-acess clearfix">
<p class="p1">OPPOC <span>ACCESSORY</span> 精品配件</p>

</div>
<div class="contain clearfix">

<div class="contain-l fl clearfix" ng-controller="price">
<div class="ll fl">
    <a href="#" ng-repeat="a in c3"><img ng-src='{{a.img}}' alt=""/>
        <p class="ll-p">{{a.t1}}</p><p>{{a.t2}}</p>
        <p class="ll-pp"> ￥{{a.t3}}</p></a>
<!--<a href="#"><img src="img/2-1.png" alt=""/>
    <p class="ll-p">可触摸视窗,世界触手可及</p><p>OPPO Find7 视窗保护皮层</p>
    <p class="ll-pp"> &yen;198.00</p></a>-->
</div>
<div class="rr fr">
<div class="phone clearfix">

<p>OPPO 手机官网 ACCESSORY 配件</p>
<div class="small clearfix" ng-controller="list">
<ul class="fl">
   <!-- <li class="list-1" ng-repeat="n in list"><a href="#">{{n}}</a></li>-->
<li class="list-1"><a href="#">&nbsp;&nbsp;耳机</a></li>
<li  class="list-2"><a href="#">&nbsp;&nbsp;保护壳</a></li>
<li  class="list-3"><a href="#">&nbsp;&nbsp;皮套</a></li>
</ul>
<ul class="fr">

<li class="list-4"><a href="#">&nbsp;&nbsp;移动电源</a></li>
<li class="list-5" ><a href="#">&nbsp;&nbsp;贴膜</a></li>
<li  class="list-6"><a href="#">&nbsp;&nbsp;数据线</a></li>
</ul>
</div>
<p class="p1"><a  class="whole"href="#">全部配件&nbsp;&nbsp;</a></p>
</div>
<div class="power" ng-controller="scale">
<a href="#" ng-repeat="n in d5"><img ng-src='{{n.img}}' alt=""/>
<p class="ll-p">{{n.t1}}</p>
<p class="ll-pp">￥{{n.t2}}</p>
</a>
   <!-- <a href="#"><img src="img/3_10.png" alt=""/>
        <p class="ll-p">OPPO 原装电源适配器</p>
        <p class="ll-pp">&yen;58.00</p>
    </a>-->
</div>
</div>

<div class="opc-usb clearfix">
<div class="fl usb-2">
<img src="img/3_17.png" alt=""/>
</div>
<div class="fr usb-1">
<a href="#"><p class="ll-p">高速传输,信号稳定</p><p class="ll-ppp">OPPO 原装 USB数据线</p><p class="ll-pp"> &yen;28.00</p></a>

</div>
</div>

</div>
<div class="contain-r fl clearfix">
<div class="clearfix voice">
<div class="fl voice-1">
<img src="img/3_03.png" alt=""/>
</div>
<div class="fr voice-2">
<a href="#"><p class="ll-p">最高直降200元</p><p class="ll-ppp">手机搭售VOCC闪充配件</p></a>
</div>

<div class="listen fl clearfix">
<div class="listen-l fl" ng-controller="scale">
    <a href="#" ng-repeat="n in d4"><img ng-src='{{n.img}}'alt=""/><p class="l-p1">
    {{n.t1}}</p><p class="so-big">{{n.t2}}</p><p class="l-pp">{{n.t3}}</p></a>
 <!--
<a href="#" ng-repeat="n in d4"><img src="img/3_12.png" alt=""/><p class="l-p1">
iLIKE 金金属蓝牙耳机 LE103</p><p class="so-big">让精炼更经典</p><p class="l-pp"> &yen;198.00</p></a>-->
</div>
<div class="listen-r fr" ng-controller="scale">
    <div class="listen-ll" ng-repeat="n in d2">
    <a href="#"><img ng-src='{{n.img}}' alt=""/>

    <p class="l-p">{{n.t1}}</p>
    <p class="l-pp">￥{{n.t2}}</p></a>
    </div>
    <div class="listen-rr" >
    <a href="#" ng-repeat="m in d3"><img ng-src='{{m.img}}' alt=""/>
    <p class="l-p">{{m.t1}}</p>
    <p class="l-pp">￥{{m.t2}}</p>
    </a>
</div>

<!--<div class="listen-ll">
<a href="#"><img src="img/3_07.png" alt=""/>

<p class="l-p">iLIKE 蓝牙耳机 LE505</p>
<p class="l-pp">&yen;98.00</p></a>
</div>
<div class="listen-rr">
<a href="#"><img src="img/3_19.png" alt=""/>
<p class="l-p">iLIKE 蓝牙耳机 LE505</p>
<p class="l-pp">&yen;98.00</p>
</a>
</div>-->
</div>

</div>
</div>
</div>

<div class="main">
</div>
     <div class="aq">
        	<h3 class="aa">WORLD OF OPPO 搜索欧珀</h3>
            <ul class="art fl" ng-controller="scale">
                <li class="{{n.tit}}" ng-repeat="n in d1">
                    <p class="aef"><a href="#">{{n.t1}}</a></p>
                    <p class="ar"><a href="#">{{n.t2}}</a></p>
                    <a href="#"><img ng-src='{{n.img}}' alt=""/></a>
                </li>
            	<!--<li class="aw fl">
                <p class="aef"><a href="#">购物赚积分</a></p>
                <p class="ar"><a href="#">更多惊喜值得期待</a></p>
               <a href="#"><img src="img/6_06.png" alt=""/></a>
                </li>
                <li class="aw fl at">
                <p class="aef"><a href="#">货到付款</a></p>
                <p class="ar"><a href="#">支持现金和刷卡</a></p>
               <a href="#"><img src="img/6.png" alt=""/></a>
                </li>
                <li class="aw fl">
                <p class="aef"><a href="#">分期付款</a></p>
                <p class="ar"><a href="#">更快捷 更方便</a></p>
               <a href="#"><img src="img/6_13.png" alt=""/></a>
                </li>
                <li class="aw fl ay">
                <p class="aef"><a href="#">固件升级</a></p>
                <p class="ar"><a href="#">保持软件更新使手机号</a></p>
               <a href="#"><img src="img/6_10.png" alt=""/></a>
                </li>
                -->
            </ul>
           <div class="af fl">
           	<div class="afa">
            <span>新闻</span><span class="afs">微博</span>
            </div>
            <ul class="afd" ng-controller="list">
                <li class="aff" ng-repeat="n in e3"><a href="#"><img ng-src='{{n.img}}' alt=""class="fl"/><p class="afg fl">{{n.tit}}</p></a></li>
            	<!--<li class="aff"><a href="#"><img src="img/5_03.png" alt=""class="fl"/><p class="afg fl">业界革命，OPPO发布全球最高灵敏度平面振膜耳机PM-1</p></a></li>
                <li class="aff"><a href="#"><img src="img/5_06.png" alt=""class="fl"/><p class="afg fl">极致原音 OPPO PM-1耳机斩获EISA年度HiFi大奖</p></a></li>
                <li class="aff"><a href="#"><img src="img/5_08.png" alt=""class="fl"/><p class="afg fl">OPPO或在巴塞罗那MWC通讯展发布COLOROS2.0</p></a></li>
                <li class="aff"><a href="#"><img src="img/5_10.png" alt=""class="fl"/><p class="afg fl">OPPO N1入选英国《stuff》杂志年度TOP10</p></a></li>
                -->
            </ul>
           </div>
        </div>

<div class="foot">
<span></span>

</div>
<div class="footer clearfix" ng-controller="list">
    <ul ng-repeat="n in e2">
        <p><a href="#">{{n.t1}}</a></p>
        <li><a href="#">{{n.t2}}</a></li>
        <li><a href="#">{{n.t3}}</a></li>
        <li><a href="#">{{n.t4}}</a></li>
        <li><a href="#">{{n.t5}}</a></li>
    </ul>
<!--<ul>
<p><a href="#">关于我们</a></p>
<li><a href="#">·关于OPPO</a></li>
<li><a href="#">·新闻中心</a></li>
<li><a href="#">·人才招聘</a></li>

</ul>
<ul>
<p><a href="#">推荐机型</a></p>
<li><a href="#">·N3</a></li>
<li><a href="#">·R5</a></li>
<li><a href="#">·Ric</a></li>
<li><a href="#">·Find7</a></li>

</ul>
<ul>
<p><a href="#">购物相关</a></p>
<li><a href="#">·周边产品</a></li>
<li><a href="#">·OPPO体验店</a></li>
<li><a href="#">·客户体验店</a></li>
<li><a href="#">·客户服务政策</a></li>

</ul>
<ul>
<p><a href="#">会员中心</a></p>
<li><a href="#">·会员产品</a></li>
<li><a href="#">·会员注册</a></li>
<li><a href="#">·会员登录</a></li>

</ul>
<ul>
<p><a href="#">关注我们</a></p>
<li><a href="#">新浪微博</a></li>
<li><a href="#">腾讯微博</a></li>
<li><a href="#">人人网</a></li>
<li><a href="#">QQ空间</a></li>

</ul>-->
<!--<ul class="num">
<li><a href="#"><img src="img/num.png" alt=""/></li>


</ul>-->

</div>

<div class="foot-last">
<div class="foot-last-1">
<div class="foot-last-2">
<ul class="clearfix foot-last-3" ng-controller="list">

<li class="foot-last"><a href="#">联系我们</a></li>

    <li ng-repeat="n in e1"><a href="#">{{n}}</a></li>
<!--<li><a href="#">友情链接</a></li>
<li><a href="#">网站地图</a></li>
<li><a href="#">使用协议</a></li>
<li><a href="#">版权说明</a></li>-->
</ul>

</div>

</div>

</div>

</body>
</html>
