*{padding:0; margin:0;font-size:12px;}
h1,h2,h3,h4,h5,h6{font-weight:normal; font-size:12px;}
li{list-style:none;}
a{text-decoration:none;color:black;}
b,strong{font-weight:normal;}
i,em{font-style:normal;}
.fl{float:left;}
.fr{float:right;}
img{border:0;}
.clearfix:after{display:block; content:''; clear:both;}
.clearfix{zoom:1;}
input{border:0; padding:0; outline:none; background:none;}
textarea{resize:none;}
table{border-collapse:collapse;}
.w{width:1348px;margin:0 auto;}
img{vertical-align:top;}